.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.toolbar {
  height: 7vh;
  /* border-radius: 0 0 25px 25px; */
  border: 0;
}

.toolbar-title {
  white-space: break-spaces;
  color: #FFFF;
}

ion-toolbar,ion-button {
  --background: linear-gradient(to bottom right, #0055CC, #0055CC);
  --background-focused: linear-gradient(to bottom right, #1D7AFC, #0055CC);
  --background-activated: linear-gradient(to bottom right, #1D7AFC, #0055CC);
  --background-hover: linear-gradient(to bottom right, #1D7AFC, #0055CC);
}

.card-footer {
  display: flex;
  justify-content: flex-end;
}

.card {
  padding: 1rem;
}

.small-title {
  font-size: 1rem;
  padding-bottom: 0;
}
.card-content {
  font-size: 0.8rem;
  line-height: 1;
}
