<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="toolbar-title">{{'Módulo de Pagos'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div style="display: flex; align-items: center;">
    <ion-searchbar [(ngModel)]="nroDocumento" search-icon="search" placeholder="Buscar" show-clear-button="focus" style="display: inline-block;"></ion-searchbar>
    <ion-button (click)="buscar()" [disabled]="!nroDocumento" class="button-right" style="display: inline-block;">Buscar</ion-button>
  </div>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Datos del Asegurado</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Nombre:" value="{{asegurado.nombre || ''}}" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Plan:" value="{{asegurado.plan_asegurado  || ''}}" [readonly]="true"></ion-input>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let cuotas of listaCuotasPendientes">
    <ion-card-header>
      <!-- <ion-card-title>Card Title</ion-card-title> -->
      <ion-card-subtitle>{{ ' NRO CUOTA: '+ cuotas.nro_cuota }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div>{{ 'Fecha Vencimiento: ' + cuotas.fecha_vencimiento }}</div>
      <div>{{ 'Monto: ' + cuotas.monto_cuota + ' guaranies.' }}</div>
    </ion-card-content>
  </ion-card>
  <ion-button *ngIf="listaCuotasPendientes.length > 0" (click)="confirmarPago()" [disabled]="!nroDocumento" class="button-left">Confirmar Pago</ion-button>
</ion-content>
